/* Color Theme Swatches in Hex 
#EB002F
#EB4400
#EB1D00
#EB00BC
#EB6D00
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Utility Classes----------------- */

.container {
  margin: auto;
  padding: 40px;
}

/* ---------------Global Styles----------------- */

body {
  font-family: "Gideon Roman", serif;
  background-color: #eb002f;
  color: floralwhite;
}

main {
  background-color: #eb6d00;
  width: 80vw;
  /* Long form */
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  /* 4 Value Shorthand T,R,B,L */
  margin: 40px auto 40px auto;
  /* 2 Value Shorthand T/B, L/R */
  margin: 40px auto;
  border: 2px dotted #eb4400;
  border-radius: 4px;
}

header.primary {
  background-color: #eb00bc;
  background-image: url("https://assets.codepen.io/7248/bg_1.png");
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 3px solid #eb1d00;
}

header.primary .hgroup {
  width: 70%;
}

.hgroup h1,
.hgroup h2 {
  margin: 0;
}

header.primary .hgroup h1 a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px #eb6d00;
  font-size: 2.4rem;
}

header.primary .hgroup h2 {
  color: #eb00bc;
  text-shadow: 1px 1px #eb6d00;
  font-size: 1.8rem;
  line-height: 1.1;
}

header.primary nav {
  width: 30%;
  margin: 0;
}

header.primary nav ul {
  list-style-type: none;
}

header.primary nav ul li {
  margin-bottom: 10px;
}

header.primary nav a {
  color: #fff;
  text-decoration: none;
  background-color: #eb00bc;
  display: block;
  padding: 10px;
  border-radius: 20px 0;
  border: 1px solid #eb002f;
  border-right: 10px solid #fff;
}

#content h2,
#content h3 {
  color: #eb1d00;
  border-left: 7.5px solid #eb002f;
  border-radius: 15px 0;
  padding: 7.5px;
}
