/* ------ Course Homepage Stylesheet ------ */

/* ------ Type Selector ------ */
body {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 40px
    ),
    repeating-linear-gradient(#8a2be255, #8a2be2);
}

/* ------ ID Selector ------ */
#main-heading {
  color: #800080;
  text-shadow: 2px 2px #fff;
  text-align: center;
}

nav.primary ul {
  color: #800080;
}

/* ------ Class Selector ------ */

.primary {
  border: 2px double #800080;
  background-color: #fff;
  opacity: 0.8;
}

/* ------ Pseudo Selector ------ */

a:link,
a:visited {
  color: #800080;
}

.content {
  border: 2px double #800080;
  background-color: #fff;
  opacity: 0.8;
}

h3 {
  color: #800080;
  text-shadow: 2px 1px #fff;
  font-size: 20px;
  margin-left: 20px;
}

p {
  color: #800080;
  font-size: 17px;
  background-color: #fff;
  margin-left: 20px;
}
